:root {
    --primary-color: #000000;
    --secondary-color: #00ff22;
    --tertiary-color: #8d89ff;
  }

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Catcheye-webfont", Arial, sans-serif;
}


@font-face {
   font-family: "catcheye-webfont";
   src: url('../fonts/coolvetica_rg_it-webfont.woff2') format('woff2'),
        url('../fonts/coolvetica_rg-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }




section {
    padding: 30px;
}
/* End Global styles */


/* Header Styles */
header{
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1{
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {
    color: var(--primary-color);
    text-decoration: none;
}
header nav{
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
  }
/* End Header Styles */


/* Quiz Styles */
.quiz-wrapper{
   text-align: center;
   margin: 0 auto;
   max-width: 700px;
}
.countdown{ 
   text-align: center;
   display: none;
}
.quiz-question{
   color: var(--primary-color);
}
.quiz-body{
   color: var(--primary-color);
   text-align: left;
   height: 380px;
}
.question-panel{
   position: absolute;
   background-color: #ffffff;
   max-width: 700px;
   width: 90%;
}
.timer{
   font-size: 14px;
   font-weight: bold;
   padding-top: 12px;
}

/* End Quiz Style */


/* Answer Styles */
.answer-choice{
   padding: 10px;
   color: #ffffff;
   background-color: var(--secondary-color);
   margin: 10px 0;
   border-radius: 10px;
   width: 200px;
}
.answer-choice:hover{
   background-color: var(--tertiary-color);
}
.status{
   text-align: center;
}
.status-correct{
   font-size: 25px;
   text-align: center;
   border-bottom: 1px solid gray;
   color: green;
   font-weight: bold;
}
.status-wrong{
   font-size: 25px;
   text-align: center;
   border-bottom: 1px solid gray;
   color: red;
   font-weight: bold;
}
/* End Answer Styles */


/* Panel Styles */
#panel1{
   z-index: 50;
}
#panel2{
   z-index: 40;
}
#panel3{
   z-index: 30;
}
#panel4{
   z-index: 20;
}
#panel5{
   z-index: 10;
}
/* End Panel Styles */


/* High Score Styles */
.highscore{
   display: none;
}
#highscore{
   display: inline-flex;
}

form input {
 border-radius: 10px;
 padding: 10px;
}

.btn {
   margin-left: 10px;
 padding: 10px;
 border-radius: 10px;
 background-color: var(--secondary-color);
 color: #ffffff;
}

.btn:hover {
 background-color: var(--tertiary-color);
}
.btn:active {
 background-color: var(--tertiary-color);
}
.score-header{
    text-align: center;
    background-color: var(--secondary-color);
    color: #ffffff;
    border-radius: 15px;
    width: 300px;
    padding: 10px;
    margin: 0 auto;
}
.score-list{
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid black;
    width: 300px;
    margin: 0 auto;
}
.score-buttons{
    text-align: center;
    margin: 30px;
}
/* End High Score Styles */